name: CI

on:
  push:
    branches: ['**']
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@v3

      - name: Run formatter
        run: nix fmt --no-write-lock-file

      - name: Verify clean working tree
        run: git diff --exit-code
